
.neonText {
  animation: flicker 5s infinite alternate;
  color: #fff;
}


/* Flickering animation */
@keyframes flicker {
    
  0%, 18%, 22%, 25%, 53%, 57%, 100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px rgb(204, 19, 13),
      0 0 80px rgb(204, 19, 13),
      0 0 90px rgb(204, 19, 13),
      0 0 100px rgb(204, 19, 13),
      0 0 150px rgb(204, 19, 13);
  
  }

  0%    { opacity: 0; }
  18%   { opacity: .15; }
  22%   { opacity: .20; }
  25%  { opacity: .25; }
  53%   { opacity: .5; }
  57%   { opacity: .6; }
  100%  { opacity: 1; }

  20%, 24%, 55% {        
      text-shadow: none;
  }    
}

.column {
  float: left;
  width: 32%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.glow { text-shadow: 0 0 10px #ff71c4; }


@media only screen and (max-device-width: 1600px) {

    background-attachment: scroll;
    min-height: 400px;